{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
        *{
            margin: 0;
            padding: 0;
            outline: none;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        body{
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            padding: 10px;
            font-family: 'Poppins', sans-serif;
            background: linear-gradient(115deg, #D6CC99 10%, #223625 90%);
        }
        .form-container {
            text-align: center;
            background-color: #FFF;
            padding: 30px;
            border-radius: 28px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        .form-container h1 {
            margin-bottom: 20px;
        }
        .form-container input[type="submit"] {
            padding: 5px 10px;
            background-color: #223625;
            color: #FFF;
            border-radius: 8px;
            cursor: pointer;
        }
        .form-container h1 span {
            background: -webkit-linear-gradient(#223625, #445D48, #D6CC99);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
{% endblock meta %}
{% load static %}
{% block content %}

<div class="form-container">
    <h1><span>EditProduct</span></h1>
    <form method="POST">
        {% csrf_token %}
        <div>
            {{ form.as_p }}
        </div>
        <div>
            <input type="submit" value="Edit Product"/>
        </div>
    </form>
</div>

{% endblock %}